@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

#root {
  height: 100svh;
}

.flex-container {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}

:root {
  font-family: 'Rubik', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  /*BRANDING-COLORS*/
  --color1: #12374af1;
  --color2: #f3e8e8;
  --color3: #ffffff;
  --color4: #b85167;
  --color5: #b56576;
  --color6: #386981bd;
  --color7: #0b4c6dbc;

  /*BACKGROUND COLORS*/
  --first-bg: var(--color1);
  --second-bg: var(--color2);
  --third-bg: var(--color3);
  --forth-bg: var(--color5);
  --fifth-bg: var(--color4);
  --sixth-bg: var(--color6);
  --seventh-bg: var(--color7);

  /*TEXT COLORS*/
  --first-text: var(--color1);
  --second-text: var(--color2);

  /*BORDER RADIUS*/
  --br1: 20px;

  /*SPACING*/
  --margin-s: 20px;
  --margin-m: 30px;
  --margin-l: 40px;

  --padding-s: 20px;
  --padding-m: 30px;
  --padding-l: 40px;
}

/*FLEX CONTAINER*/
.flex-container {
  display: flex;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
}
